<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% load blog_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block description %}
      <link rel="canonical" href="{{ request.build_absolute_uri }}" />
      <meta property="og:url" content="{{ request.build_absolute_uri }}" />
      {% block meta_og_title %} <meta property="og:title" content="{% blog_title %}" /> {% endblock meta_og_title %}
      {% block meta_og_description %} <meta property="og:description" content="{% blog_description %}" /> {% endblock meta_og_description %}
      <meta property="og:locale" content="pl_PL">
      {% block meta_title %} <meta name="title" content="{% blog_title %}" /> {% endblock meta_title %}
      {% block meta_description %} <meta name="description" content="{% blog_description %}" /> {% endblock meta_description %}
      {% block meta_keywords %} <meta name="keywords" content="{% keywords_default %}" /> {% endblock meta_keywords %}
    {% endblock description%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500|Montserrat:700|Lato|Oswald:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript" src="{% static 'js/hide_nav.js' %}"></script>
    {% block title %}  {% endblock title %}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    {% load google_analytics_tags %}
      <div style="display:none">
        <img src="{% google_analytics %}" width="0" height="0" />
      </div>
  </head>
  <body> 
  <nav class="navbar navbar-expand-lg" id="navbar">
    <a class="navbar-brand" href="{% url 'home' %}">{% blog_title %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Strona główna</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto ">
        {% for cat in category_list %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'post_category' cat.slug %}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          {{ cat.name }}</a>
          <div class="dropdown-menu m-0" aria-labelledby="navbarDropdown">
          {% for post in cat.post_set.all %}
            <a class="dropdown-item" id='dropdown-item' href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          {% endfor %}
          </div>
        </li>
         {% endfor %}
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li>
          <form action="{% url 'filter_post' %}" method="get" class='searchform'>
          <input type="text" name="q" placeholder="Szukaj...">
          <i class="fa fa-search"></i>
          </form>
        </li>
        <li><a href="https://github.com/ImustAdmit"><img src="{% static 'images/github.png' %}" alt="GitHub" class="icon-github"></a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {% if messages %}
      {% for message in messages %}
      <div class='alert alert-{{ message.tags }}'> {{ message }}
      </div>
      {% endfor %}
    {% endif %}
    {% block content %}  {% endblock content %}
  </div>
  {% if is_paginated %}
    <div class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <a class='btn btn-outline-dark mb-4' href="?page=1">First</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class='btn btn-dark mb-4' href="?page= {{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class='btn btn-outline-dark mb-4' href="?page= {{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a class='btn btn-outline-dark mb-4' href="?page= {{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
    </div>
  {% endif %}
  <footer class="footer">
    <div class="footer-left col-md-4 col-sm-6">
      <p class="about">
      "Praca wypełni ci dużą część życia. Jedynym sposobem na prawdziwą satysfakcję z pracy jest robienie tego, w czego wielkość się wierzy. A jedynym sposobem na robienie rzeczy wielkich dla ciebie jest miłość do tego, co się robi." - Steve Jobs
      <span class="mt-2">Kontakt</span>
      </p>
      <div class="icons">
        <a href="https://pl.linkedin.com/in/adam-szustak"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://github.com/ImustAdmit"><i class="fab fa-github"></i></a>
        <a href="mailto:aszustak@onet.pl"><i class="far fa-envelope"></i></a>
      </div>
    </div>
    <div class="footer-center col-md-4 col-sm-6">
      <div>
        <p>Ostatnie posty:</p>
      </div>
      {% for post in last5post %}
      <div>
        <p><a class="foot-links" href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
      </div>
      {% endfor %}
    </div>
    <div class="footer-right col-md-4 col-sm-6">
      <h2> Uczsie<span> IT</span></h2>
      <p class="menu">
        <a href="{% url 'home' %}"> Home</a> |
        {% for cat in category_list %}
        <a href="{% url 'post_category' cat.slug %}"> {{ cat.name }}</a> |
        {% endfor %}
    </div>
  </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
